@import "tailwindcss";

@theme {
    --color-primary: #DB3D3E;
    --color-primary-bg: #151515;
    --color-primary-white: #F7F7F1
}

@layer utilities {
    .container {
        @apply mx-auto px-4 sm:px-6 lg:px-8;
        width: 100%;
    }

    @media (min-width: 640px) {
        .container {
            max-width: 640px;
        }
    }

    @media (min-width: 768px) {
        .container {
            max-width: 1224px;
        }
    }
}



@layer utilities {
    .text-after::after {
        content: '';
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translateX(-2px);
        width: 0;
        height: 1px;
        bottom: -5px;
        left: 0;
        background-color: var(--color-primary);
        transition: width 0.4s ease;
    }

    .text-after:hover::after {
        width: 110%;
    }
    .border-t-l-4 { border-top-left-radius: 16px;}
}