@import "tailwindcss";

@theme {
    --color-primary: #DB3D3E
}

@layer utilities {
    .text-after::after {
        content: '';
        position: absolute;
        left: 50%;
        right: 50%;
        transform: translateX(-2px);
        width: 0;
        height: 1px;
        bottom: -5px;
        left: 0;
        background-color: var(--color-primary);
        transition: width 0.4s ease;
    }

    .text-after:hover::after {
        width: 110%;
    }
    .border-t-l-4 { border-top-left-radius: 16px;}
}